In [2]:
import pandas as pd

df = pd.read_csv('data.csv')

In [5]:
df.to_csv('output.csv')

In [14]:
df_list = df.values.tolist()

type(df_list)

list

In [15]:
new_df = pd.DataFrame(df_list)

In [18]:
df.head(10)

,variable_name,question,question_type,value,answer_label
0,user_id,User ID,IHME generated,NaN,NaN
1,country,Country name,Text,NaN,NaN
2,observation_id,Observation ID,IHME generated,NaN,NaN
3,submitted_time,Date and time survey was submitted,Built-in data,NaN,NaN
4,gender,What is your gender?,Select one,2.0,Female
5,gender,What is your gender?,Select one,1.0,Male
6,gender,What is your gender?,Select one,88.0,Prefer not to respond
7,gender,What is your gender?,Select one,99.0,Not available
8,age,What is your age?,Select one,1.0,Under 16
9,age,What is your age?,Select one,2.0,16 to 25 years old

In [17]:
df.tail(10)

,variable_name,question,question_type,value,answer_label
211,wmn_no_help_why,What was the main reason you were unable to se...,Select one,1.0,Did not know where to go
212,wmn_no_help_why,What was the main reason you were unable to se...,Select one,2.0,Too far from services
213,wmn_no_help_why,What was the main reason you were unable to se...,Select one,3.0,Could not afford transport or service fees
214,wmn_no_help_why,What was the main reason you were unable to se...,Select one,4.0,Services unavailable due to COVID-19 restrictions
215,wmn_no_help_why,What was the main reason you were unable to se...,Select one,5.0,Unable to travel due to COVID-19 restrictions
216,wmn_no_help_why,What was the main reason you were unable to se...,Select one,6.0,Fear of threats/consequences/getting into trouble
217,wmn_no_help_why,What was the main reason you were unable to se...,Select one,7.0,Embarrassed for myself or my family
218,wmn_no_help_why,What was the main reason you were unable to se...,Select one,77.0,Don't know
219,wmn_no_help_why,What was the main reason you were unable to se...,Select one,99.0,Other
220,wmn_no_help_why,What was the main reason you were unable to se...,Select one,88.0,Decline to answer

In [19]:
df.describe

<bound method NDFrame.describe of        variable_name                                           question  \
0            user_id                                            User ID
1            country                                       Country name
2     observation_id                                     Observation ID
3     submitted_time                 Date and time survey was submitted
4             gender                               What is your gender?
..               ...                                                ...
216  wmn_no_help_why  What was the main reason you were unable to se...
217  wmn_no_help_why  What was the main reason you were unable to se...
218  wmn_no_help_why  What was the main reason you were unable to se...
219  wmn_no_help_why  What was the main reason you were unable to se...
220  wmn_no_help_why  What was the main reason you were unable to se...

      question_type  value                                       answer_label
0    IHME generated    NaN                                                NaN
1              Text    NaN                                                NaN
2    IHME generated    NaN                                                NaN
3     Built-in data    NaN                                                NaN
4        Select one    2.0                                             Female
..              ...    ...                                                ...
216      Select one    6.0  Fear of threats/consequences/getting into trouble
217      Select one    7.0                Embarrassed for myself or my family
218      Select one   77.0                                         Don't know
219      Select one   99.0                                              Other
220      Select one   88.0                                  Decline to answer

[221 rows x 5 columns]>

In [20]:
df.shape

(221, 5)

In [21]:
df.info

<bound method DataFrame.info of        variable_name                                           question  \
0            user_id                                            User ID
1            country                                       Country name
2     observation_id                                     Observation ID
3     submitted_time                 Date and time survey was submitted
4             gender                               What is your gender?
..               ...                                                ...
216  wmn_no_help_why  What was the main reason you were unable to se...
217  wmn_no_help_why  What was the main reason you were unable to se...
218  wmn_no_help_why  What was the main reason you were unable to se...
219  wmn_no_help_why  What was the main reason you were unable to se...
220  wmn_no_help_why  What was the main reason you were unable to se...

      question_type  value                                       answer_label
0    IHME generated    NaN                                                NaN
1              Text    NaN                                                NaN
2    IHME generated    NaN                                                NaN
3     Built-in data    NaN                                                NaN
4        Select one    2.0                                             Female
..              ...    ...                                                ...
216      Select one    6.0  Fear of threats/consequences/getting into trouble
217      Select one    7.0                Embarrassed for myself or my family
218      Select one   77.0                                         Don't know
219      Select one   99.0                                              Other
220      Select one   88.0                                  Decline to answer

[221 rows x 5 columns]>

In [23]:
df.describe(include='all')

,variable_name,question,question_type,value,answer_label
count,221,221,221,207.000000,207
unique,46,46,5,NaN,112
top,wmn_hh,"On average, in the last six months, how many m...",Select one,NaN,Decline to respond
freq,20,20,175,NaN,15
mean,NaN,NaN,NaN,20.608696,NaN
std,NaN,NaN,NaN,33.939932,NaN
min,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,2.000000,NaN
50%,NaN,NaN,NaN,4.000000,NaN
75%,NaN,NaN,NaN,10.500000,NaN
max,NaN,NaN,NaN,99.000000,NaN

In [ ]:
df.fillna()

<bound method NDFrame.fillna of        variable_name                                           question  \
0            user_id                                            User ID
1            country                                       Country name
2     observation_id                                     Observation ID
3     submitted_time                 Date and time survey was submitted
4             gender                               What is your gender?
..               ...                                                ...
216  wmn_no_help_why  What was the main reason you were unable to se...
217  wmn_no_help_why  What was the main reason you were unable to se...
218  wmn_no_help_why  What was the main reason you were unable to se...
219  wmn_no_help_why  What was the main reason you were unable to se...
220  wmn_no_help_why  What was the main reason you were unable to se...

      question_type  value                                       answer_label
0    IHME generated    NaN                                                NaN
1              Text    NaN                                                NaN
2    IHME generated    NaN                                                NaN
3     Built-in data    NaN                                                NaN
4        Select one    2.0                                             Female
..              ...    ...                                                ...
216      Select one    6.0  Fear of threats/consequences/getting into trouble
217      Select one    7.0                Embarrassed for myself or my family
218      Select one   77.0                                         Don't know
219      Select one   99.0                                              Other
220      Select one   88.0                                  Decline to answer

[221 rows x 5 columns]>